Repository lazulit3/edihkal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit-code, format-code

audit-code:
  stage: test
  script:
  - cargo install cargo-audit
  - cargo audit

format-code:
  stage: test
  script:
  - rustup component add rustfmt
  - cargo fmt --all -- --check

enhance(srv): Add X-Request-Id middleware
  edihkal/src/app.rs
  edihkal/src/drugs.rs
Due: format-code

fix(srv): Make database password a Secret
  edihkal/src/app.rs
  edihkal/src/configuration.rs
  edihkal/tests/api/helpers.rs
Due: format-code

build(srv): Add tower dependency to edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

build(srv): Enable request-id feat on tower-http
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

build(srv): Add Dockerfile for edihkal
  Dockerfile
Due: none

build(srv): Add .dockerignore file
  .dockerignore
Due: none

enhance(srv): Only connect to DB pool on first use
  edihkal/src/app.rs
Due: format-code

Revert "Inherit edition & repo from workspace"
  Cargo.toml
  edid/Cargo.toml
  edihkal-client/Cargo.toml
  edihkal-core/Cargo.toml
  edihkal/Cargo.toml
Due: none

ci: Remove `env | grep CI` debug output from CI
  .gitlab-ci.yml
Due: none

ci: Tweak comments explaining job rules
  .gitlab-ci.yml
Due: none

ci: Fix scheduled jobs / only run audit-code daily
  .gitlab-ci.yml
Due: none

ci: Remove CI_COMMIT_TAG rules (not working)
  .gitlab-ci.yml
Due: none

feat(srv): Add production config environment
  edihkal/configuration/base.yaml
  edihkal/configuration/localdev.yaml
  edihkal/configuration/production.yaml
  edihkal/src/configuration.rs
  edihkal/src/main.rs
Due: format-code

build(srv): Add sea-orm dependency to edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

docs(srv): Fix typo in localdev README for edihkal
  edihkal/localdev/README.md
Due: none

chore(srv): Remove sqlx migrations folder
  edihkal/migrations/20220904184901_create_drugs_table.sql
Due: none

feat(srv): Add migrate() step to edihkal app start
  edihkal/src/router.rs
Due: format-code

feat: Add SeaORM crates: entity, migration
  Cargo.lock
  Cargo.toml
  edihkal/Cargo.toml
  edihkal/entity/Cargo.toml
  edihkal/entity/src/drug.rs
  edihkal/entity/src/lib.rs
  edihkal/entity/src/prelude.rs
  edihkal/migration/Cargo.toml
  edihkal/migration/README.md
  edihkal/migration/src/lib.rs
  edihkal/migration/src/m20220101_000001_create_drug_table.rs
  edihkal/migration/src/main.rs
Due: audit-code, format-code

chore: Inherit edition & repo from workspace
  Cargo.toml
  edid/Cargo.toml
  edihkal-client/Cargo.toml
  edihkal-core/Cargo.toml
  edihkal/Cargo.toml
  edihkal/entity/Cargo.toml
  edihkal/migration/Cargo.toml
Due: none

chore: Update edihkal/localdev for sea-orm
  edihkal/localdev/README.md
  edihkal/localdev/init_db.sh
Due: none

ci: Use postgres for database in GitLab CI
  .gitlab-ci.yml
Due: none

chore: Use postgres for localdev via init_db.sh
  edihkal/localdev/init_db.sh
Due: none

enhance: Replace sqlx usage with sea-orm
  edid/src/cli.rs
  edihkal-client/src/drugs.rs
  edihkal-core/src/drugs.rs
  edihkal/entity/src/drug.rs
  edihkal/src/drugs.rs
  edihkal/src/router.rs
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/helpers.rs
  sqlx-data.json
Due: format-code

test: Add Drug unit tests from footgun thinking
  edihkal/entity/src/drug.rs
Due: format-code

chore: Remove sea migrate from localdev/init_db.sh
  edihkal/localdev/README.md
  edihkal/localdev/init_db.sh
Due: none

ci: Remove sqlx steps from .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore: Move entity crate to workspace root
  Cargo.toml
  edihkal/Cargo.toml
  entity/Cargo.toml
  entity/src/drug.rs
  entity/src/lib.rs
  entity/src/prelude.rs
Due: format-code

refactor(entity): Remove prelude.rs and use lib.rs
  edihkal/tests/api/drugs.rs
  entity/src/lib.rs
  entity/src/prelude.rs
Due: format-code

fix: Replace edihkal_core types with entity types
  Cargo.lock
  edid/Cargo.toml
  edid/src/cli.rs
  edihkal-client/Cargo.toml
  edihkal-client/src/drugs.rs
  edihkal-client/src/lib.rs
  edihkal/Cargo.toml
  edihkal/tests/api/drugs.rs
  entity/src/drug.rs
Due: audit-code, format-code

chore: Remove edihkal-core crate
  Cargo.lock
  Cargo.toml
  edihkal-core/Cargo.toml
  edihkal-core/src/drugs.rs
  edihkal-core/src/lib.rs
Due: audit-code, format-code

test: Remove footgun demos for drug::ActiveModel
  entity/src/drug.rs
Due: format-code

refactor: Rename create_drug -> define_drug
  edid/src/cli.rs
  edihkal-client/src/drugs.rs
Due: format-code

enhance(client): Use a String for Client.base_url
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
Due: format-code

style: Increase rustfmt chain_width: 60% -> 70%
  .rustfmt.toml
  edihkal/migration/src/m20220101_000001_create_drug_table.rs
Due: format-code

test(srv): Add edihkal_client() helper
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/src/configuration.rs
  edihkal/tests/api/helpers.rs
Due: audit-code, format-code

refactor(client): Use NewDrug input in define_drug
  edid/src/cli.rs
  edihkal-client/src/drugs.rs
Due: format-code

enhance(entity): Getters for private Model fields
  edid/src/cli.rs
  edihkal/tests/api/drugs.rs
  entity/src/drug.rs
Due: format-code

fix(client): Re-export entity::drug::NewDrug
  edihkal-client/src/drugs.rs
  edihkal-client/src/lib.rs
Due: format-code

test(srv): Enable test tracing output via TEST_LOG
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/tests/api/helpers/service.rs
Due: audit-code, format-code

enhance(srv): Parameterize tracing sink (stdout)
  edihkal/src/main.rs
  edihkal/src/tracing.rs
Due: format-code

Path conditions:
  audit-code: any of: **/Cargo.lock
  format-code: any of: **/*.rs
