Repository lazulit3/edihkal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit-code, format-code

audit-code:
  stage: test
  script:
  - cargo install cargo-audit
  - cargo audit

format-code:
  stage: test
  script:
  - rustup component add rustfmt
  - cargo fmt --all -- --check

feat(client): Add initial client lib using ureq
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
  edihkal-client/src/error.rs
  edihkal-client/src/errors.rs
  edihkal-client/src/lib.rs
Due: format-code

feat: Split ApiClient error types by meaning
  edid/src/client/api_client/error.rs
  edid/src/client/api_client/mod.rs
  edid/src/client/error.rs
  edid/src/client/mod.rs
  edid/src/config.rs
Due: format-code

feat(edid): Adopt anyhow error handling in edid
  edid/src/cli.rs
  edid/src/config.rs
  edid/src/main.rs
Due: format-code

build(client): Add edihkal-core dep to client
  Cargo.lock
  edihkal-client/Cargo.toml
Due: audit-code

docs(client): Tweak crate description for client
  edihkal-client/Cargo.toml
Due: none

build(client): Add ureq dependency to client
  Cargo.lock
  edihkal-client/Cargo.toml
Due: audit-code

feat: ApiClient validates base URL for trailing /
  edid/src/cli.rs
  edid/src/client/api_client/error.rs
  edid/src/client/api_client/mod.rs
  edid/src/client/mod.rs
  edid/src/config.rs
Due: format-code

build(client): Add thiserror dependency to client
  Cargo.lock
  edihkal-client/Cargo.toml
Due: audit-code

docs: Remove untrue docs for ApiClient
  edid/src/client/api_client/mod.rs
Due: format-code

fix: Add missing Debug derives to Drug & clients
  edid/src/client/api_client/mod.rs
  edid/src/client/mod.rs
  edihkal-core/src/drugs.rs
Due: format-code

fix(cli): Update edihkal_url type: Url -> String
  edid/src/config.rs
Due: format-code

chore: Remove TryFrom<Config> for Client (unused)
  edid/src/config.rs
Due: format-code

feat!(client): Drop api_client, move to crate
  Cargo.lock
  Cargo.toml
  edid/src/cli.rs
  edid/src/client/api_client/error.rs
  edid/src/client/api_client/mod.rs
  edid/src/main.rs
  edihkal-client/Cargo.toml
  edihkal-client/src/error.rs
  edihkal-client/src/lib.rs
Due: audit-code, format-code

build(edid): Add anyhow dependency to edid
  Cargo.lock
  edid/Cargo.toml
Due: audit-code

refactor: Rename to_endpoint_url -> endpoint_url
  edid/src/client/api_client/mod.rs
Due: format-code

refactor: Move api_client.rs into module directory
  edid/src/client/api_client/mod.rs
Due: format-code

feat(cli): Add default config parameter: edid.yaml
  edid/src/cli.rs
Due: format-code

build(srv): Remove sqlx dependency from edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

docs(srv): Fix typo in localdev README for edihkal
  edihkal/localdev/README.md
Due: none

chore: Inherit edition & repo from workspace
  Cargo.toml
  edid/Cargo.toml
  edihkal-client/Cargo.toml
  edihkal-core/Cargo.toml
  edihkal/Cargo.toml
Due: none

build(core): Add uuid dependency to edihkal-core
  Cargo.lock
  edihkal-core/Cargo.toml
Due: audit-code

fix: Add DrugInputs for Drug data with DB id
  edihkal-client/src/drugs.rs
  edihkal-core/src/drugs.rs
  edihkal/src/drugs.rs
  edihkal/tests/api/drugs.rs
Due: format-code

fix(test): Add _ prefix to unused test client
  edihkal/tests/api/drugs.rs
Due: format-code

fix(srv): Make POST /drugs return created JSON
  edihkal/src/drugs.rs
Due: format-code

fix(srv): Update sqlx-data.json
  sqlx-data.json
Due: none

refactor(srv): Rename router module to app module
  edihkal/src/app.rs
  edihkal/src/lib.rs
Due: format-code

improvement: Add anyhow support, adjust config
  edid/src/cli.rs
  edid/src/config.rs
  edihkal/src/configuration.rs
  edihkal/src/main.rs
  edihkal/tests/api/helpers.rs
Due: format-code

build(srv): Add anyhow dependency to edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

build(cli): Remove reqwest (unused dependency)
  Cargo.lock
  edid/Cargo.toml
Due: audit-code

build(core): Remove serde_json (unused dependency)
  Cargo.lock
  edihkal-core/Cargo.toml
Due: audit-code

build(srv): Add tower-http with trace to edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

feat(srv): Add tower-http tracing middleware
  edihkal/src/app.rs
  edihkal/src/lib.rs
  edihkal/src/main.rs
  edihkal/src/tracing.rs
Due: format-code

build(srv): Add tracing-subscriber to edihakl
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

build(srv): Add tracing dependency to edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

build(srv): Add tracing-log dependency to edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

build(srv): Add tracing-bunyan-formatter
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

enhance(srv): Add tracing to define_drug
  edihkal/src/drugs.rs
Due: format-code

enhance(srv): Use bunyan formatting & tracing-log
  edihkal/src/drugs.rs
  edihkal/src/main.rs
  edihkal/src/tracing.rs
Due: format-code

enhance(srv): Separate insert_drug w/ its own span
  edihkal/src/drugs.rs
Due: format-code

build(srv): Add secrecy 0.8.0 to edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

Path conditions:
  audit-code: any of: **/Cargo.lock
  format-code: any of: **/*.rs
