Repository lazulit3/edihkal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit-code, format-code

audit-code:
  stage: test
  script:
  - cargo install cargo-audit
  - cargo audit

format-code:
  stage: test
  script:
  - rustup component add rustfmt
  - cargo fmt --all -- --check

chore: Switch psql -> pg_isready in init_db.sh
  edihkal/localdev/init_db.sh
Due: none

ci: Update workflow:rules: to avoid dupes
  .gitlab-ci.yml
Due: none

chore: Configurable CONTAINER_TOOL for init_db.sh
  edihkal/localdev/init_db.sh
Due: none

docs: Improve localdev/README.md init_db.sh usage
  edihkal/localdev/README.md
Due: none

chore: Fix sqlx-cli install command in init_db.sh
  edihkal/localdev/init_db.sh
Due: none

ci: Ensure changes rule is only applied to MRs
  .gitlab-ci.yml
Due: none

ci: Print CI envs in CI for troubleshooting
  .gitlab-ci.yml
Due: none

refactor: Use State extractor instead of Extension
  edihkal/src/drugs.rs
  edihkal/src/router.rs
Due: format-code

build: Add aide 0.6.0 to edihkal with axum flag
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

build: Add schemars 0.8.10 to edihkal for aide
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

feat: Add OpenAPI generation at /openapi.json
  edihkal/src/drugs.rs
  edihkal/src/lib.rs
  edihkal/src/openapi.rs
  edihkal/src/router.rs
  edihkal/tests/api/openapi.rs
Due: format-code

build: Bump axum 0.5.15 -> 0.6.0-rc2 for edihkal
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code

Revert "Merge branch '3-generate-openapi-spec' into 'develop'"
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/src/drugs.rs
  edihkal/src/lib.rs
  edihkal/src/openapi.rs
  edihkal/src/router.rs
  edihkal/tests/api/openapi.rs
Due: audit-code, format-code

ci: Add job rules towards expectations & clarity
  .gitlab-ci.yml
Due: none

build(cli): Add config, reqwest, serde to edid
  Cargo.lock
  edid/Cargo.toml
  edihkal/Cargo.toml
Due: audit-code

feat(cli): Load config from config file with -c
  edid/src/configuration.rs
  edid/src/main.rs
Due: format-code

refactor(cli): Handle drugs cmds in drugs.rs
  edid/src/drugs.rs
  edid/src/main.rs
Due: format-code

feat(cli): Load edihkal URL from config file/envs
  edid/src/configuration.rs
Due: format-code

build(cli): Update clap 4.0.0-rc.3 -> 4.0.10
  Cargo.lock
  edid/Cargo.toml
Due: audit-code

chore: Lowercase edid & edihkal in descriptions
  edid/Cargo.toml
  edihkal/Cargo.toml
Due: none

refactor(cli): Move logic to cli.rs, simplify main
  edid/src/cli.rs
  edid/src/client.rs
  edid/src/drugs.rs
  edid/src/main.rs
Due: format-code

refactor(cli): Organize API client module
  edid/src/cli.rs
  edid/src/client.rs
  edid/src/client/drugs.rs
  edid/src/client/mod.rs
  edid/src/configuration.rs
  edid/src/drugs.rs
  edid/src/main.rs
Due: format-code

build(cli): Add test dev dependencies to edid
  Cargo.lock
  edid/Cargo.toml
Due: audit-code

build(cli): Make tokio a real dep with rt for edid
  edid/Cargo.toml
Due: none

feat(cli): Implement "edid drugs define" command
  edid/src/cli.rs
  edid/src/client/api_client.rs
  edid/src/client/drugs.rs
  edid/src/client/mod.rs
  edid/src/configuration.rs
  edid/src/main.rs
Due: format-code

refactor: Define Drug model in edihkal-core
  Cargo.lock
  Cargo.toml
  edid/Cargo.toml
  edid/src/client/drugs.rs
  edihkal-core/Cargo.toml
  edihkal-core/src/drugs.rs
  edihkal-core/src/lib.rs
  edihkal/Cargo.toml
  edihkal/src/drugs.rs
Due: audit-code, format-code

feat(core): Drug::new for convenience w/ &str name
  edihkal-core/src/drugs.rs
Due: format-code

test(edihkal): Use Drug type in drugs tests
  edihkal/tests/api/drugs.rs
Due: format-code

refactor(edid): Rename mod configuration -> config
  edid/src/cli.rs
  edid/src/client/mod.rs
  edid/src/config.rs
  edid/src/main.rs
Due: format-code

refactor(edid): Rename EdihkalClient -> Client
  edid/src/cli.rs
  edid/src/client/drugs.rs
  edid/src/client/mod.rs
Due: format-code

refactor(edid): Move impl From<&Opts> for Config
  edid/src/cli.rs
  edid/src/config.rs
Due: format-code

refactor(edid): Refactor/tweak/+document config.rs
  edid/src/config.rs
Due: format-code

refactor(edid): Move From<&Config> for Client
  edid/src/client/mod.rs
  edid/src/config.rs
Due: format-code

build(edid): Require url crate & upgrade url
  Cargo.lock
  edid/Cargo.toml
Due: audit-code

feat: Improve api_client, client, & add error type
  Cargo.lock
  edid/Cargo.toml
  edid/src/client/api_client.rs
  edid/src/client/drugs.rs
  edid/src/client/error.rs
  edid/src/client/mod.rs
  edid/src/config.rs
Due: audit-code, format-code

test: Replace api_client tests w/ wiremock+rstest
  Cargo.lock
  edid/Cargo.toml
  edid/src/client/api_client.rs
Due: audit-code, format-code

fix(cli): Update define drug client call
  edid/src/cli.rs
Due: format-code

build(cli): Add edihkal-client dependency to edid
  Cargo.lock
  edid/Cargo.toml
Due: audit-code

docs: Tweak edihkal-core description
  edihkal-core/Cargo.toml
Due: none

build(cli): Remove url dependency from edid
  Cargo.lock
  edid/Cargo.toml
Due: audit-code

Path conditions:
  audit-code: any of: **/Cargo.lock
  format-code: any of: **/*.rs
