Repository lazulit3/edihkal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit-code, format-code, lint-code, test-code

audit-code:
  interruptible: true
  stage: test
  script:
  - cargo install cargo-audit
  - cargo audit

format-code:
  interruptible: true
  stage: test
  script:
  - rustup component add rustfmt
  - cargo fmt --all -- --check

lint-code:
  interruptible: true
  cache:
    key: sqlx-${SQLX_VERSION}-${SQLX_FEATURES}
    paths:
    - ${CARGO_HOME}/bin/sqlx
    - ${CARGO_HOME}/bin/cargo-sqlx
  stage: test
  script:
  ...

test-code:
  interruptible: true
  cache:
    key: sqlx-${SQLX_VERSION}-${SQLX_FEATURES}
    paths:
    - ${CARGO_HOME}/bin/sqlx
    - ${CARGO_HOME}/bin/cargo-sqlx
  stage: test
  script:
  ...

test(srv): Separate concerns in API test helpers
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/health_check.rs
  edihkal/tests/api/helpers.rs
  edihkal/tests/api/helpers/database.rs
  edihkal/tests/api/helpers/http.rs
  edihkal/tests/api/helpers/mod.rs
  edihkal/tests/api/helpers/service.rs
Due: audit-code, format-code, lint-code, test-code

build: Enable cargo resolver version 2
  Cargo.toml
Due: lint-code, test-code

refactor(srv): Use edihkal_tracing for edihkal
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/src/lib.rs
  edihkal/src/main.rs
  edihkal/src/tracing.rs
  edihkal/tests/api/helpers/service.rs
Due: audit-code, format-code, lint-code, test-code

chore(trace): Use test-helpers FF for emacs + LSP
  edihkal_tracing/.dir-locals.el
Due: none

enhance(entity): Add drug::Model::new() fn
  entity/src/drug.rs
Due: format-code, lint-code, test-code

build(trace): Add edihkal-tracing crate
  Cargo.lock
  Cargo.toml
  edihkal_tracing/Cargo.toml
  edihkal_tracing/src/lib.rs
  edihkal_tracing/src/test_helpers.rs
Due: audit-code, format-code, lint-code, test-code

test(client): Add basic unit tests to client lib
  Cargo.lock
  edihkal-client/Cargo.toml
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
Due: audit-code, format-code, lint-code, test-code

feat(client): Add tracing instrumentation
  Cargo.lock
  edihkal-client/Cargo.toml
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
Due: audit-code, format-code, lint-code, test-code

enhance(trace): rm unnecessary test tracing config
  edihkal_tracing/src/test_helpers.rs
Due: format-code, lint-code, test-code

refactor(client): Add Input type to Endpoint
  edid/src/cli.rs
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
Due: format-code, lint-code, test-code

feat!(client): Rewrite client as async w/ reqwest
  Cargo.lock
  edid/src/cli.rs
  edihkal-client/Cargo.toml
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
  edihkal-client/src/errors.rs
  edihkal-client/src/lib.rs
Due: audit-code, format-code, lint-code, test-code

fix(srv): Remove panics from edihkal startup
  edihkal/src/app.rs
  edihkal/src/main.rs
Due: format-code, lint-code, test-code

feat(srv): Implement GET /drugs handler
  edihkal/src/drugs.rs
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/helpers/database.rs
Due: format-code, lint-code, test-code

enhance(client): Add JSON to Error::InvalidJson
  edihkal-client/src/edihkal.rs
  edihkal-client/src/errors.rs
Due: format-code, lint-code, test-code

feat(client): Implement get_drugs() in client lib
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
Due: format-code, lint-code, test-code

feat(edid): Rename drug(s) subcmd & alias plural
  edid/src/cli.rs
Due: format-code, lint-code, test-code

feat(cli): Implement edid drug list for GET /drugs
  edid/src/cli.rs
Due: format-code, lint-code, test-code

fix!(cli): Fix edid config loading from file, envs
  Cargo.lock
  edid/Cargo.toml
  edid/src/cli.rs
  edid/src/config.rs
Due: audit-code, format-code, lint-code, test-code

refactor(cli): Move subcommands to tree of dirs
  edid/src/cli.rs
  edid/src/client.rs
  edid/src/cmd/drug/define_drug.rs
  edid/src/cmd/drug/list_drugs.rs
  edid/src/cmd/drug/mod.rs
  edid/src/cmd/mod.rs
  edid/src/main.rs
Due: format-code, lint-code, test-code

fix(srv): Remove needless borrow on env filename
  edihkal/src/configuration.rs
Due: format-code, lint-code, test-code

chore(srv): Upgrade axum 0.5.16 -> 0.6.6
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/src/app.rs
  edihkal/src/drugs.rs
Due: audit-code, format-code, lint-code, test-code

chore: Update tokio 1.22.0 -> 1.25.0
  Cargo.lock
  edid/Cargo.toml
  edihkal/Cargo.toml
Due: audit-code, lint-code, test-code

chore: Update sea-orm: 0.10.1 -> 0.11.0
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/migration/Cargo.toml
  entity/Cargo.toml
  entity/src/drug.rs
Due: audit-code, format-code, lint-code, test-code

build: Bump cpufeatures: 0.2.4 -> 0.2.5 (yanked)
  Cargo.lock
Due: audit-code, lint-code, test-code

fix(client): Fix typo in appli(c)ation/json
  edihkal-client/src/edihkal.rs
Due: format-code, lint-code, test-code

test(client): Test Accept & Content-Type headers
  edihkal-client/src/edihkal.rs
Due: format-code, lint-code, test-code

fix(entity): Fix serde, uuid deps & feature flags
  Cargo.lock
  entity/Cargo.toml
Due: audit-code, lint-code, test-code

feat(edid): Add tracing to edid
  Cargo.lock
  edid/Cargo.toml
  edid/src/main.rs
Due: audit-code, format-code, lint-code, test-code

test(srv): Test GET /drugs/:id
  edihkal/tests/api/drugs.rs
Due: format-code, lint-code, test-code

feat(srv): Add GET /drugs/:id endpoint
  edihkal/src/app.rs
  edihkal/src/drugs.rs
Due: format-code, lint-code, test-code

enhance(srv): Make POST /drugs/ return 201
  edihkal/src/drugs.rs
  edihkal/tests/api/drugs.rs
Due: format-code, lint-code, test-code

docs(migration): Add notes for generating entities
  edihkal/migration/README.md
Due: none

enhance: Make Drug name column unique
  Cargo.lock
  edid/src/cmd/drug/define_drug.rs
  edihkal/Cargo.toml
  edihkal/migration/src/m20220101_000001_create_drug_table.rs
  edihkal/src/drugs.rs
  edihkal/src/errors.rs
  edihkal/src/lib.rs
  entity/src/drug.rs
  entity/src/lib.rs
Due: audit-code, format-code, lint-code, test-code

feat(db): Add DB migration for entry table
  edihkal/migration/src/lib.rs
  edihkal/migration/src/m20220101_000001_create_drug_table.rs
  edihkal/migration/src/m20221124_233148_create_entry_table.rs
Due: format-code, lint-code, test-code

feat(entity): Add entry entity
  Cargo.lock
  entity/Cargo.toml
  entity/src/entry.rs
  entity/src/lib.rs
Due: audit-code, format-code, lint-code, test-code

test(srv): Add test helper for defining drugs
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/helpers/client.rs
  edihkal/tests/api/helpers/mod.rs
Due: format-code, lint-code, test-code

feat(entity): impl From<NewModel> for Model
  edihkal-client/src/drugs.rs
  entity/src/drug.rs
  entity/src/entry.rs
Due: format-code, lint-code, test-code

feat(srv): Add POST /entry route handler
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/src/app.rs
  edihkal/src/entries.rs
  edihkal/src/lib.rs
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/entry.rs
  edihkal/tests/api/main.rs
  entity/src/entry.rs
Due: audit-code, format-code, lint-code, test-code

feat(srv): Add filter GET /drugs?name=foobar
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/src/drugs.rs
  edihkal/tests/api/drugs.rs
Due: audit-code, format-code, lint-code, test-code

refactor(client): More flexible payload types
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
Due: format-code, lint-code, test-code

Path conditions:
  audit-code: any of: **/Cargo.lock
  format-code: any of: **/*.rs
  lint-code: any of: **/*.rs, **/Cargo.*
  test-code: any of: **/*.rs, **/*.sql, **/*.yaml, **/Cargo.*
