Repository lazulit3/edihkal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr-audit-code, format-code, lint-code, test-code

Path conditions:
  mr-audit-code: any of: **/Cargo.lock
  format-code: any of: **/*.rs
  lint-code: any of: **/*.rs, **/Cargo.*
  test-code: any of: **/*.rs, **/*.sql, **/*.yaml, **/Cargo.*

build(migrate): Only build migration bin if cli ff
  edihkal/migration/Cargo.toml
Due: lint-code, test-code

chore: Rename workflows/ test.yaml -> test.yml
  .github/workflows/test.yml
Due: none

ci: Exclude edihkal_tracing & migration from tests
  .github/workflows/test.yaml
Due: test-code

ci: Fix lint workflow cargo-hack coverage
  .github/workflows/lint.yml
Due: none

enhance(srv): Add trait for model locations
  edihkal/src/lib.rs
  edihkal/src/resource.rs
  edihkal/tests/api/drugs.rs
Due: format-code, lint-code, test-code

fix!(srv): Only 303 if NewDrug matches Drug
  edihkal/src/drugs.rs
  edihkal/src/entries.rs
  edihkal/src/errors.rs
  edihkal/src/lib.rs
  edihkal/src/responses.rs
  edihkal/tests/api/entry.rs
  entity/src/behavior/drug.rs
Due: format-code, lint-code, test-code

test(srv): 303 when NewDrug already exists
  edihkal/tests/api/drugs.rs
Due: format-code, lint-code, test-code

enhance(srv): Enhance GET /drugs query filtering
  edihkal/src/drugs.rs
  edihkal/src/errors.rs
  edihkal/src/lib.rs
  edihkal/src/query.rs
  edihkal/tests/api/drugs.rs
Due: format-code, lint-code, test-code

chore: Add tarpaulin-report.html to .gitignore
  .gitignore
Due: none

chore: Delete .gitlab-ci.yaml config for GitLab CI
  .gitlab-ci.yml
Due: none

docs(srv): Tweak unnecessary link
  edihkal/src/drugs.rs
Due: format-code, lint-code, test-code

refactor(srv): Improve readability of create_drug
  edihkal/src/drugs.rs
Due: format-code, lint-code, test-code

build(deps): Bump tower-http to 0.4.0 w/ util FF
  Cargo.lock
  edihkal/Cargo.toml
Due: mr-audit-code, lint-code, test-code

docs: Add docs for adding new DB entities
  docs/development.md
  edihkal/migration/README.md
Due: none

docs: Add README.md and docs/faq.md
  README.md
  docs/faq.md
Due: none

docs: Fix typo in README.md (missing word)
  README.md
Due: none

enhance!: Use Uuid newtype to avoid nil Default
  Cargo.lock
  edihkal-client/Cargo.toml
  edihkal-client/src/entries.rs
  edihkal/Cargo.toml
  edihkal/src/drugs.rs
  edihkal/src/resource.rs
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/helpers/database.rs
  entity/src/behavior/drug.rs
  entity/src/behavior/entry.rs
  entity/src/drug.rs
  entity/src/entry.rs
  entity/src/lib.rs
  entity/src/uuid.rs
Due: mr-audit-code, format-code, lint-code, test-code

test: Add disabled test for constructing Model
  entity/tests/construct_active_model.rs
Due: format-code, lint-code, test-code

feat(macro): Add edihkal_macros::DeriveNewModel
  Cargo.lock
  Cargo.toml
  edihkal_macros/Cargo.toml
  edihkal_macros/src/derives/mod.rs
  edihkal_macros/src/derives/new_model.rs
  edihkal_macros/src/lib.rs
  edihkal_macros/src/util.rs
Due: mr-audit-code, format-code, lint-code, test-code

enhance!(entity): Generate with DeriveNewModel
  Cargo.lock
  build/generate-entity-from-db-schema.sh
  docs/development.md
  entity/Cargo.toml
  entity/src/behavior/drug.rs
  entity/src/behavior/entry.rs
  entity/src/drug.rs
  entity/src/entry.rs
  entity/src/lib.rs
  entity/src/prelude.rs
Due: mr-audit-code, format-code, lint-code, test-code

fix: Update entity Model & NewModel usage
  edid/src/cmd/drug/define_drug.rs
  edid/src/cmd/drug/list_drugs.rs
  edid/src/cmd/entry/new_entry.rs
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
  edihkal-client/src/entries.rs
  edihkal-client/src/lib.rs
  edihkal/src/drugs.rs
  edihkal/src/entries.rs
  edihkal/src/resource.rs
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/entry.rs
  edihkal/tests/api/helpers/client.rs
  entity/src/behavior/mod.rs
  entity/tests/construct_active_model.rs
Due: format-code, lint-code, test-code

chore: Add MIT LICENSE to edihkal_macros crate
  edihkal_macros/Cargo.toml
  edihkal_macros/LICENSE
Due: lint-code, test-code

docs(entity): Add some docs to entity crate
  entity/src/behavior/mod.rs
  entity/src/lib.rs
Due: format-code, lint-code, test-code

chore(seaxum): Create seaxum crate in workspace
  Cargo.lock
  Cargo.toml
  seaxum/Cargo.toml
  seaxum/LICENSE
  seaxum/src/lib.rs
Due: mr-audit-code, format-code, lint-code, test-code

build(seaxum): Use sea-orm/tests-cfg with dev
  Cargo.lock
  seaxum/Cargo.toml
Due: mr-audit-code, lint-code, test-code

wip(seaxum): Add DbEntity trait for SeaORM types
  seaxum/src/db/entity.rs
  seaxum/src/db/mod.rs
  seaxum/src/lib.rs
Due: format-code, lint-code, test-code

wip(seaxum): Add Resource trait for API definition
  seaxum/src/api/mod.rs
  seaxum/src/api/resource.rs
  seaxum/src/lib.rs
Due: format-code, lint-code, test-code

build(migrate): Remove unnecessary sea-orm dep
  Cargo.lock
  edihkal/migration/Cargo.toml
Due: mr-audit-code, lint-code, test-code

ci: Check dependencies weekly
  .github/dependabot.yml
Due: none

refactor(macro): Move util mod into derives mod
  edihkal_macros/src/derives/mod.rs
  edihkal_macros/src/derives/new_model.rs
  edihkal_macros/src/derives/util.rs
  edihkal_macros/src/lib.rs
Due: format-code, lint-code, test-code

refactor(macro): Rename NewModel -> DeriveNewModel
  edihkal_macros/src/derives/new_model.rs
Due: format-code, lint-code, test-code

build(macro): Add bae for parsing attributes
  Cargo.lock
  edihkal_macros/Cargo.toml
  edihkal_macros/src/attributes.rs
  edihkal_macros/src/derives/util.rs
  edihkal_macros/src/lib.rs
Due: mr-audit-code, format-code, lint-code, test-code

feat(entity): DeriveNewModelTrait on Models
  Cargo.lock
  entity/Cargo.toml
  entity/src/drug.rs
  entity/src/entry.rs
  entity/src/prelude.rs
  sea_orm_new_model/src/lib.rs
Due: mr-audit-code, format-code, lint-code, test-code

doc(macro): Expand edihkal_macro docs
  edihkal_macros/src/lib.rs
Due: format-code, lint-code, test-code

feat(macro): Add DeriveNewModelTrait macro
  Cargo.lock
  edihkal_macros/Cargo.toml
  edihkal_macros/src/derives/mod.rs
  edihkal_macros/src/derives/new_model.rs
  edihkal_macros/src/derives/new_model_trait.rs
  edihkal_macros/src/derives/util.rs
  edihkal_macros/src/lib.rs
Due: mr-audit-code, format-code, lint-code, test-code

test(newmodel): Add compile tests for derives
  Cargo.lock
  sea_orm_new_model/Cargo.toml
  sea_orm_new_model/tests/derive/main.rs
  sea_orm_new_model/tests/derive/new_model.rs
  sea_orm_new_model/tests/derive/new_model_attrs.rs
  sea_orm_new_model/tests/derive/new_model_trait.rs
Due: mr-audit-code, format-code, lint-code, test-code

feat(macro): Add derive-serde feature flag
  edihkal_macros/Cargo.toml
  edihkal_macros/src/derives/new_model.rs
Due: format-code, lint-code, test-code

enhance: Remove IntoCondition impl for NewDrug
  edihkal/src/drugs.rs
  entity/src/behavior/drug.rs
  entity/src/behavior/mod.rs
Due: format-code, lint-code, test-code

feat(newmodel): Add lib crate for NewModelTrait
  Cargo.lock
  Cargo.toml
  sea_orm_new_model/Cargo.toml
  sea_orm_new_model/LICENSE
  sea_orm_new_model/src/lib.rs
Due: mr-audit-code, format-code, lint-code, test-code
