Repository lazulit3/edihkal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit-code, format-code, lint-code, test-code

audit-code:
  interruptible: true
  stage: test
  script:
  - cargo install cargo-audit
  - cargo audit

format-code:
  interruptible: true
  stage: test
  script:
  - rustup component add rustfmt
  - cargo fmt --all -- --check

lint-code:
  interruptible: true
  cache:
    key: sqlx-${SQLX_VERSION}-${SQLX_FEATURES}
    paths:
    - ${CARGO_HOME}/bin/sqlx
    - ${CARGO_HOME}/bin/cargo-sqlx
  stage: test
  script:
  ...

test-code:
  interruptible: true
  cache:
    key: sqlx-${SQLX_VERSION}-${SQLX_FEATURES}
    paths:
    - ${CARGO_HOME}/bin/sqlx
    - ${CARGO_HOME}/bin/cargo-sqlx
  stage: test
  script:
  ...

feat(client): Add Client.new_entry()
  Cargo.lock
  edihkal-client/Cargo.toml
  edihkal-client/src/edihkal.rs
  edihkal-client/src/entries.rs
  edihkal-client/src/lib.rs
Due: audit-code, format-code, lint-code, test-code

feat(cli): Add "edid entry new" command
  Cargo.lock
  edid/Cargo.toml
  edid/src/cli.rs
  edid/src/cmd/entry/mod.rs
  edid/src/cmd/entry/new_entry.rs
  edid/src/cmd/mod.rs
Due: audit-code, format-code, lint-code, test-code

feat!(client): Add filters, get_drugs_with_name()
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
Due: format-code, lint-code, test-code

enhance(client): Include post data in tracing
  edihkal-client/src/edihkal.rs
Due: format-code, lint-code, test-code

feat(client): Re-export entity::entry::NewEntry
  edihkal-client/src/lib.rs
Due: format-code, lint-code, test-code

chore: Add PG* envs for connecting to DB with psql
  .env
Due: none

refactor(entity): Minimize sea-orm codegen diff
  edihkal-client/src/drugs.rs
  edihkal-client/src/edihkal.rs
  edihkal-client/src/entries.rs
  edihkal-client/src/lib.rs
  edihkal/src/drugs.rs
  edihkal/src/entries.rs
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/entry.rs
  entity/src/behavior/drug.rs
  entity/src/behavior/entry.rs
  entity/src/behavior/mod.rs
  entity/src/drug.rs
  entity/src/entry.rs
  entity/src/lib.rs
  entity/tests/construct_active_model.rs
Due: format-code, lint-code, test-code

fix(cli): Fix typo in drug define suggestion
  edid/src/cmd/entry/new_entry.rs
Due: format-code, lint-code, test-code

docs(db): Fix migration generate command in README
  edihkal/migration/README.md
Due: none

enhance!: Re-order entry columns
  edihkal/migration/src/m20221124_233148_create_entry_table.rs
Due: format-code, lint-code, test-code

style(client): Fix import ordering
  edihkal-client/src/lib.rs
Due: format-code, lint-code, test-code

refactor(srv): Name handles with create_ & get_
  edihkal/src/app.rs
  edihkal/src/drugs.rs
  edihkal/src/entries.rs
Due: format-code, lint-code, test-code

docs: Tweak docs comments on a few types
  edihkal/src/drugs.rs
Due: format-code, lint-code, test-code

feat(entity): PartialEq for NewDrug & drug::Model
  entity/src/behavior/drug.rs
Due: format-code, lint-code, test-code

chore(cli): Add default localdev edid.yaml config
  edid/edid.yaml
Due: test-code

docs(entity): Add README & some small module docs
  entity/README.md
  entity/src/behavior/entry.rs
  entity/src/behavior/mod.rs
Due: format-code, lint-code, test-code

build(cli): Remove unused dev dependencies
  Cargo.lock
  edid/Cargo.toml
Due: audit-code, lint-code, test-code

chore: Improve init_db.sh container tool selection
  edihkal/localdev/README.md
  edihkal/localdev/init_db.sh
Due: none

docs: Add CONTRIBUTING.md with cargo-hack notes
  CONTRIBUTING.md
Due: none

ci: Run audit job on shared runners only
  .gitlab-ci.yml
Due: none

ci: Use cargo hack to improve test/clippy coverage
  .gitlab-ci.yml
Due: none

ci: Install cargo-audit from release artifact
  .gitlab-ci.yml
Due: none

ci: Run branch jobs only on develop
  .gitlab-ci.yml
Due: none

ci: Create $CARGO_HOME in before_script
  .gitlab-ci.yml
Due: none

ci: Try different $CARGO_HOME syntax
  .gitlab-ci.yml
Due: none

fix(srv): Remove default feature flag
  edihkal/Cargo.toml
  edihkal/src/errors.rs
Due: format-code, lint-code, test-code

ci: Add GitHub Actions (lint, format, test)
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/test.yaml
  edihkal/.env
Due: test-code

ci: Add .github/dependabot.yml config
  .github/dependabot.yml
Due: none

build(deps): bump tower-http from 0.3.4 to 0.3.5
  Cargo.lock
  edihkal/Cargo.toml
Due: audit-code, lint-code, test-code

build(migrate): Add cli feature flag
  edihkal/migration/.dir-locals.el
  edihkal/migration/Cargo.toml
Due: lint-code, test-code

build(srv): Build without migration CLI feat flag
  edihkal/Cargo.toml
Due: lint-code, test-code

ci: Exclude lints/tests on --no-default-features
  .github/workflows/lint.yml
  .github/workflows/test.yaml
Due: test-code

build(deps): cargo update -p edid --aggressive
  Cargo.lock
Due: audit-code, lint-code, test-code

chore: Configure cargo-deny to deny unknown source
  deny.toml
Due: none

chore: Add default cargo-deny config: deny.toml
  deny.toml
Due: none

chore: Configure cargo-deny for ring LICENSE
  deny.toml
Due: none

chore: Disable warning on copyleft licenses
  deny.toml
Due: none

chore: Add MIT LICENSE to workspace crates
  Cargo.toml
  edid/Cargo.toml
  edid/LICENSE
  edihkal-client/LICENSE
  edihkal/Cargo.toml
  edihkal/LICENSE
  edihkal/migration/Cargo.toml
  edihkal/migration/LICENSE
  edihkal_tracing/Cargo.toml
  edihkal_tracing/LICENSE
  entity/Cargo.toml
  entity/LICENSE
Due: lint-code, test-code

chore: Allow OSI or FSF licenses w/ cargo-deny
  deny.toml
Due: none

ci: Add audit workflow using cargo-deny
  .github/workflows/audit.yml
Due: none

Path conditions:
  audit-code: any of: **/Cargo.lock
  format-code: any of: **/*.rs
  lint-code: any of: **/*.rs, **/Cargo.*
  test-code: any of: **/*.rs, **/*.sql, **/*.yaml, **/Cargo.*
