Repository lazulit3/edihkal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mr-audit-code, format-code, lint-code, test-code

Path conditions:
  mr-audit-code: any of: **/Cargo.lock
  format-code: any of: **/*.rs
  lint-code: any of: **/*.rs, **/Cargo.*
  test-code: any of: **/*.rs, **/*.sql, **/*.yaml, **/Cargo.*

chore: Fix workspace/crates repository
  Cargo.toml
Due: lint-code, test-code

chore: Use $DB_NAME for container name in init_db.sh
  edihkal/localdev/init_db.sh
Due: none

test(srv): Test Location header value for creates
  edihkal/tests/api/drugs.rs
  edihkal/tests/api/entry.rs
Due: format-code, lint-code, test-code

ci: Update deny.conf to allow lazulit3 GitHub org
  deny.toml
Due: none

docs: Add TODO notes about seaxum types in entity
  entity/src/drug.rs
  entity/src/entry.rs
Due: format-code, lint-code, test-code

docs(srv): Update outdated comments.
  edihkal/src/api/handlers/read.rs
Due: format-code, lint-code, test-code

docs(srv): Add initial README.md for `edihkal`
  edihkal/README.md
Due: none

feat!(cli): Update default edihkal_url for HTTPS
  edid/edid.yaml
  edid/src/config.rs
Due: format-code, lint-code, test-code

feat(client): Use native CA roots over of webpki
  Cargo.lock
  edihkal-client/Cargo.toml
Due: mr-audit-code, lint-code, test-code

feat!(srv): Add Transport Layer Security (TLS)
  Cargo.lock
  edihkal/Cargo.toml
  edihkal/README.md
  edihkal/configuration/base.yaml
  edihkal/configuration/localdev.yaml
  edihkal/localdev/README.md
  edihkal/localdev/self-signed-certs/.gitignore
  edihkal/localdev/self-signed-certs/README.md
  edihkal/src/configuration.rs
  edihkal/src/main.rs
Due: mr-audit-code, format-code, lint-code, test-code

docs(entity): Add TODO for outdated `entity` docs
  entity/src/lib.rs
Due: format-code, lint-code, test-code

refactor(entity): Move sea_skipper impls to extend
  entity/src/behavior/drug.rs
  entity/src/behavior/entry.rs
  entity/src/drug.rs
  entity/src/entry.rs
  entity/src/extend/drug.rs
  entity/src/extend/entry.rs
  entity/src/extend/mod.rs
  entity/src/lib.rs
Due: format-code, lint-code, test-code

test(entity): Enable disabled test around uuid
  entity/tests/construct_active_model.rs
Due: format-code, lint-code, test-code

feat(migrate): Add migration for user table
  edihkal/migration/src/lib.rs
  edihkal/migration/src/m20230527_181001_create_user_table.rs
Due: format-code, lint-code, test-code

test(entity): Add tests of non-nil Uuid for `user`
  entity/tests/drug.rs
  entity/tests/user.rs
Due: format-code, lint-code, test-code

feat(entity): Add `user` to `entity` crate
  build/generate-entity-from-db-schema.sh
  entity/src/drug.rs
  entity/src/entry.rs
  entity/src/extend/mod.rs
  entity/src/extend/user.rs
  entity/src/lib.rs
  entity/src/prelude.rs
  entity/src/user.rs
Due: format-code, lint-code, test-code

chore: Move Dockerfile to edihkal/docker/
  .dockerignore
  edihkal/docker/Dockerfile
Due: none

chore(srv): Add Dockerfile.localdev
  edihkal/docker/Dockerfile.localdev
Due: none

fix(entity): Fix tests for `user::ActiveModel` Uuid
  entity/tests/user.rs
Due: format-code, lint-code, test-code

chore: Add docker-compose.yml for localdev
  docker-compose.yml
Due: none

chore: Run container images as non-privileged user
  edihkal/docker/Dockerfile
  edihkal/docker/Dockerfile.localdev
Due: none

chore: Add some OCI labels to Dockerfiles
  edihkal/docker/Dockerfile
  edihkal/docker/Dockerfile.localdev
Due: none

style: Adjust spacing of Dockerfile stages
  edihkal/docker/Dockerfile
  edihkal/docker/Dockerfile.localdev
Due: none

chore: Add bunyan output for localdev container
  docker-compose.yml
  edihkal/docker/Dockerfile.localdev
Due: none

docs: Update localdev docs for docker-compose
  README.md
  edihkal/localdev/README.md
  edihkal/localdev/init_db.sh
  edihkal/localdev/self-signed-certs/README.md
Due: none

fix(srv): Output TLS cert/key paths in error
  edihkal/src/main.rs
Due: format-code, lint-code, test-code

chore: Update example config for edid
  edid/edid.toml
  edid/edid.yaml
Due: test-code

chore: Add .DS_Store to .gitignore
  .gitignore
Due: none

fix: Fix inherited workspace keys in Cargo.tomls
  edid/Cargo.toml
  edihkal-client/Cargo.toml
  edihkal/Cargo.toml
  edihkal/migration/Cargo.toml
  edihkal_tracing/Cargo.toml
  entity/Cargo.toml
Due: lint-code, test-code

fix: Remove `license-file` redundant to `license`
  Cargo.toml
  edid/Cargo.toml
  edihkal-client/Cargo.toml
  edihkal/Cargo.toml
  edihkal/migration/Cargo.toml
  edihkal_tracing/Cargo.toml
  entity/Cargo.toml
Due: lint-code, test-code

build(deps): Upgrade from sea-orm 0.11 -> 0.12
  Cargo.lock
  edid/Cargo.toml
  edihkal/Cargo.toml
  edihkal/migration/Cargo.toml
  entity/Cargo.toml
Due: mr-audit-code, lint-code, test-code

fix: Handle unique constraint violation for other DBs (#39)
  edihkal/src/db/mutation.rs
  edihkal/src/errors.rs
Due: format-code, lint-code, test-code
